.git
.github
.agents
.cursor
.claude
.idea
.vscode
node_modules
vendor
public/build
public/hot
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
phpstan.neon
pint.json
.env
.env.backup
.env.production
.phpunit.result.cache
npm-debug.log
yarn-error.log
README.md
